body
{
    background-color: #2f9576;
    color: #414a86;
    text-align: center;
}

.jumbotron
{
    background-color:  	#1f7984;
    color: #3d3579;
}

a 
{
    background-color: #27617b;
    color: 	#3d3579;
}
img
{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin: 10px;
}
hr
{
 border: 3px dashed #3d3579;
 border-radius: 100px;
}