@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;

<h3 id="danger">Are you sure you would like to delete this stylist?</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger"/>
}
@Html.ActionLink("No, Back to Details", "Index")